/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Jul, 2015, 12:43:51 PM
    Author     : mobigo5
*/

/*Alignment styles for bootstrap only*/
.no-margin-hr{margin-left:0px;margin-right:0px;}
.no-margin-vr{margin-top:0px;margin-bottom:0px;}
.no-padding{padding:0px !important;}
.no-padding-hr{padding-left: 0px !important;padding-right: 0px !important;}
.no-padding-vr{padding-top: 0px;padding-bottom: 0px;}
a:hover{text-decoration: none;}
hr{background:#dedede; }
/*Home page dashboard*/
#homepage{margin: 0px !important;}
#homepage .panel{border-top:1px solid #d9d9d9 !important;border-bottom:1px solid #d9d9d9 !important;}
#homepage .panel .panel-heading{font-family: 'Roboto-Medium', sans-serif;font-size:14px;text-align:center;}
#homepage .home_bg{background:#847cc5 !important;width:100%;height:auto;}
#homepage .mrn_bg{background:#2ecc71 !important;}
#homepage .org_bg{background:#f0ad4e !important;}
#homepage .grn_bg{background:#00a489 !important;}
#homepage .blu_bg{background:#428bca !important;}
#homepage .ltgrn_bg{background:#79b260 !important; color: #ffffff}
#homepage .blk_bg{background:#4c4743 !important;}
#homepage .wht_bg{background:#fafafa !important;color:#333333 !important;}
#homepage h3.blk_bg > a{color:#ffffff !important;}
.up{color:#008a00;}
.down{color: #e66454;}


/*Title text styles*/
div.title_txt>img{display: inline;vertical-align: top;}
div.title_txt>h4{font-family: 'Roboto', sans-serif;font-size:28px;font-weight:300;display: inline;margin: 0px;}
div.title_txt>p{margin:5px auto;}
/*Box styles here*/
.home_samplebox{border:1px solid #d9d9d9;position: relative;cursor: pointer;}
.home_samplebox>div{padding:10px 10px 0px 10px;}
.home_samplebox p>span{font-weight: bold;}
.home_samplebox h4>span{font-weight:bold;}
.devider-hr{text-align: center;}
.devider-hr>div{width:1px;height: 20px;border-left:1px solid #d9d9d9;margin: 0 auto;}
.devider2{width:80%;height: 20px;border:1px solid #d9d9d9;border-bottom:0px;margin: 0 auto;}
.btn_2>div{width:45%;float: left;}
.btn_2>div+div{width:45%;float: right}
.btn_childs{padding:10px; }
/*Inside box content styles here*/
.content_mg{min-height:100px;position: relative;}
.content_mg label{display: block;text-align:left;color:#ffffff; font-family: 'Roboto', sans-serif;font-weight:500; font-size:13px;margin-bottom: 0px;}
img.internet_img{position: absolute;bottom: 0;right:5px;}
.headertxt{color:#ffffff;font-family: 'Roboto', sans-serif;font-weight:500;font-size: 13px;text-align: center;margin:10px 0px; }
.contentdashboard{width:100%;}
.contentdashboard .count_block,.contentdashboard .img_block{width:50%;float: left;}
.contentdashboard .count_block{color:#ffffff;font-family: 'Roboto', sans-serif;font-weight:500;font-size: 50px;line-height:50px;text-align: left;}
.contentdashboard .img_block{text-align: right;}
/*Form content styles*/
.form_panel .panel .panel-heading{color:#ffffff;font-family: 'Roboto', sans-serif;font-weight:500;font-size:14px;}


.tabs h3{width: 49.9%;height: 40px;margin: 0px; float: left;line-height: 40px;margin:0px 0px 15px 0px;text-align: center;border-bottom: 1px solid #dedede;background:#fafafa !important;cursor: pointer;}
.tabs h3 >a {color:#333333;font-family: 'Roboto', sans-serif;font-weight:500;font-size:14px; }
.tabs .active{background:#4c4743 !important;}
.tabs .active > a{color:#ffffff !important;}

.adv_widget{padding: 0px;}
.adv_widget h4{font-family: 'Roboto', sans-serif;font-weight:300;font-size: 28px;margin: 8px 15px;}
.adv_widget h4 span{color:#69b1dc;font-size:30px; }
.adv_widget ul {list-style: none;padding-left: 0px;margin-bottom:0px; }
.adv_widget ul li{border-top:1px solid #e7eaec;line-height:25px;padding:0px 15px;}
.adv_widget ul li label{width:100%;margin-bottom:0px; }
.adv_widget ul li label span{width:auto;display:inline;float: left; font-family: 'Roboto-Medium', sans-serif;font-size:12px;text-align:left;margin:0px 8px }
.adv_widget ul li span + span{font-weight:normal;font-family: 'Roboto-Regular', sans-serif;font-weight:400; font-size:12px;} 
/*.adv_widget ul li label span{width:60%;display:inline;float: left; font-family: 'Roboto-Light', sans-serif;font-size:12px;text-align:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.adv_widget ul li span + span{width:39%;font-weight:normal;font-family: 'Roboto-Regular', sans-serif;font-weight:400; font-size:12px;} */
.acc{position: relative;}
.acc .panel-heading h4{margin:0px;font-size: 14px;}


/* Table view Basic home page*/
ul.tabview {width: 100%;position: relative;}
ul.tabview:before, ul.tabview:after{text-align: center;display: block;border: 1px solid black;border-bottom: 0;width: 50%;}
ul.tabview:before {content: 'MAC Address';font-family: 'Roboto', sans-serif;font-weight:500; font-size:12px;
                   border-right: 0; background:#4c4743;color:#ffffff;line-height:38px;}
ul.tabview:after {content: 'IP Address';font-family: 'Roboto', sans-serif;font-weight:500; font-size:12px;position: absolute;line-height:38px;
                  top: 0;left: 50%;margin-left: 1px; background:#4c4743;color:#ffffff; border-left:1px solid #fff;}
ul.tabview li{padding:0px !important;border-top:0px; }
ul.tabview li >span {width: 50%;text-align: left;text-indent: 10px;float: left;color:#555555;font-family: 'Roboto', sans-serif;
                     font-weight:400; font-size:12px;border: 1px solid #dedede;margin-bottom: -1px;}
ul.tabview li >span + span {width: 50%;text-align: left;padding-left:10px;float: left;border: 1px solid #dedede;margin-bottom: -1px;}
ul.tabview li:nth-child(even) {margin-left: 0px;}
/*End of the styles here*/

@media(max-width: 767px) {
    #homepage .home_samplebox.active{outline: none;box-shadow: 0px 0px 5px #674172;border-color: #5AB0DB;}
    .home_samplebox{width:60%;text-align: center;margin: 0 auto;}
    img.internet_img{position: relative;text-align: center;}
    .contentdashboard .img_block{margin: 0 auto;float: none;text-align: center;}
    .contentdashboard .usb_icon{-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}
}
.system_status{padding-top:0px; }
.border-b p{margin:0px;padding:8px 0px; }
.border-b{border-bottom:1px solid #dedede;margin: 0 -15px;}
.border-l{border-left:1px solid #dedede; }
.system_status form{margin-top: 15px;}
.wraptextdata{width: 5em;word-wrap: break-word;}
.form-group.required .control-label:after {
    content:" *";
    color:red;
}



