.no-margin-hr{margin-left:0px;margin-right:0px;}
.no-margin-vr{margin-top:0px;margin-bottom:0px;}
.no-padding{padding:0px !important;}
.no-padding-hr{padding-left: 0px !important;padding-right: 0px !important;}
.no-padding-vr{padding-top: 0px;padding-bottom: 0px;}
.no-padding-vr-1{padding-bottom:0px; }
.no-border{border-width:0px !important;border-color:transparent !important;box-shadow:none !important; }
.no-border-hr{border-left-width:0px !important;border-right-width:0px !important;border-color:transparent;box-shadow:none !important;}
.no-border-vr{border-top-width:0px !important;border-bottom-width:0px !important;border-color:transparent;box-shadow:none !important; }
a:hover{text-decoration: none;}
hr{background:#dedede; }
/*Custom fonts ROBOTO */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/roboto/roboto-regular-webfont.eot');
    src: url('fonts/roboto/roboto-regular-webfont.eot') format('embedded-opentype'), 
        url('fonts/roboto/roboto-regular-webfont.woff') format('woff'), 
        url('fonts/roboto/roboto-regular-webfont.ttf') format('truetype'), 
        url('fonts/roboto/roboto-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* #ajaxLoaderSection{
    background: url(../../images/ajax-loader.gif) no-repeat center 50%;
    height: 100%;
    opacity: 0.5;
    padding-top: 0;
    position: absolute;
    width: 100%;
    z-index: 900;
    display: none;
    text-align: center;
} */
@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/roboto/roboto-medium-webfont.eot');
    src: url('fonts/roboto/roboto-medium-webfont.eot') format('embedded-opentype'), 
        url('fonts/roboto/roboto-medium-webfont.woff') format('woff'), 
        url('fonts/roboto/roboto-medium-webfont.ttf') format('truetype'), 
        url('fonts/roboto/roboto-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/roboto/roboto-thin-webfont.eot');
    src: url('fonts/roboto/roboto-thin-webfont.eot') format('embedded-opentype'), 
        url('fonts/roboto/roboto-thin-webfont.woff') format('woff'), 
        url('fonts/roboto/roboto-thin-webfont.ttf') format('truetype'), 
        url('fonts/roboto/roboto-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/roboto/roboto-light-webfont.eot');
    src: url('fonts/roboto/roboto-light-webfont.eot') format('embedded-opentype'), 
        url('fonts/roboto/roboto-light-webfont.woff') format('woff'), 
        url('fonts/roboto/roboto-light-webfont.ttf') format('truetype'), 
        url('fonts/roboto/roboto-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/roboto/roboto-bold-webfont.eot');
    src: url('fonts/roboto/roboto-bold-webfont.eot') format('embedded-opentype'), 
        url('fonts/roboto/roboto-bold-webfont.woff') format('woff'), 
        url('fonts/roboto/roboto-bold-webfont.ttf') format('truetype'), 
        url('fonts/roboto/roboto-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.panel-bg{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(214,249,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,249,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(214,249,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(214,249,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(214,249,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(bottom, rgba(214,249,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

/*Theme included styles*/
.theme-default {
    background: #f6f6f6;
}
.theme-default .page-header {
    background: #f6f6f6;
    border-color: #e9e9e9;
}
.theme-default .table,
.theme-default .panel,
.theme-default hr {
    border-color: #e2e2e2;
}
.theme-default .panel.panel-transparent > .panel-heading {
    border-bottom-color: #e2e2e2 !important;
}
.theme-default .breadcrumb-page {
    background: #f6f6f6;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 6px;
    padding-top: 6px;
}
.theme-default #main-navbar {
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
}
.theme-default #main-navbar .navbar-header {
    background: #ffffff;
}
.theme-default #main-navbar .navbar-header a {
    color: #555555;
}
.theme-default #main-navbar .navbar-brand {
    color: #555555;
}
.theme-default #main-navbar .navbar-toggle,
.theme-default #main-navbar #main-menu-toggle {
    color: #555555;
}
.theme-default #main-navbar #main-menu-toggle {
    background: #f8f8f8;
}
.theme-default #main-navbar #main-menu-toggle .fa:before {
    color: #555555;
}
.theme-default #main-navbar .navbar-collapse {
    border-top: 1px solid #f1f1f1;
    background: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.theme-default #main-navbar .dropdown > a,
.theme-default #main-navbar .dropdown-menu > li > a,
.theme-default #main-navbar .nav > li > a {
    color: #555555;
}
.theme-default #main-menu-bg {
    background-color: #23272d;
}
.theme-default #main-menu .navigation a {
    color: #808b9c;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.theme-default #main-menu .navigation a.open,.theme-default #main-menu .navigation ul.menu-close-cont-open{background: #181b1f;color: #fff; }
.theme-default #main-menu .navigation a:hover {
    color: #fff;
}
.theme-default #main-menu .navigation a:hover:after {
    display: block !important;
}
.theme-default #main-menu li.active > a {
    background: #27b6af;
    border-radius:0px;
    color: #fff;
    border-bottom-color:transparent;
    border-right: 0 none;
    border-top: 0 none;
}
.theme-default #main-menu li.active > a .menu-icon {
    color: #1d89cf;
}
.theme-default #main-menu li.active > a:after {
    display: block;
}
.theme-default #main-menu li > a{
    border-left: 2px solid transparent;
}
.theme-default #main-menu li > a:hover{
    background: #27b6af;
    border-left: 2px solid red;
}
.theme-default #main-menu .mm-dropdown.active > a {
    background: none;
}
.theme-default #main-menu .mm-dropdown.active > a:after {
    display: none;
}
.theme-default #main-menu .mm-dropdown > ul {
    background: #2a2e36;
}
.theme-default #main-navbar .navbar-brand div,
.theme-default .demo-logo {
    background: #1d89cf;
}
.theme-default #main-navbar .navbar-header a {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}
.theme-default #main-navbar .right > .navbar-nav > li {
    border-left: 1px solid #f1f1f1;
    border-right: medium none;
}
.theme-default #main-navbar #main-menu-toggle {
    background: none repeat scroll 0 0 #f8f8f8;
}
.theme-default #main-navbar .navbar-collapse,#main-navbar .right > .navbar-nav > li{border-top:0px;}
.theme-default #main-menu li.active > a,.menuitem-highlight{background:#0071c5 !important;color:#fff}
.theme-default #main-menu li > a:hover{background: #0071c5;border-left: 2px solid red;color:#fff !important;}
/*End of the Theme included styles*/

/*Header styles*/
#main-navbar .navbar-brand {
    font-size: 13px;
    opacity: 1;
    filter: alpha(opacity=100);
}
#main-navbar .navbar-brand:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#main-navbar .navbar-brand div {
    display: inline-block;
    position: relative;
    margin-right: 4px;
    top: 4px;
}
#main-navbar .navbar-brand div,
#main-navbar .navbar-brand div img {
    height: 18px;
    width: 18px;
}
#main-navbar .navbar-brand div img {
    display: block;
}
/*End of the Header styles*/
/*Menu styles here*/
#main-navbar {
    border: none;
    border-radius: 0;
    left: 0;
    min-height: 46px;
    right: 0;
    position: absolute;
    top: 0 !important;
    z-index: 1030;
}
#main-navbar .navbar-inner {
    min-height: 46px;
    width: 100%;
    position: relative;
    left: 0;
}
#main-navbar .navbar-header {
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1032;
}
#main-navbar .navbar-brand {
    display: inline-block;
    float: none;
    font-size: 14px;
    line-height: 46px;
    height: auto !important;
    padding: 0 0 0 14px;
}
#main-navbar li a {
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0;
}
#main-navbar li a:hover {
    background: none;
}
#main-navbar li a:active,
#main-navbar li a:focus {
    background: none;
}
#main-navbar .navbar-collapse {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    z-index: 1031;
}
#main-navbar .navbar-collapse,
#main-navbar .navbar-collapse.collapse {
    overflow: visible;
}
#main-navbar .navbar-collapse.collapsing,
#main-navbar .navbar-collapse.in {
    overflow: hidden;
}
#main-navbar .navbar-nav {
    margin: 0;
}
#main-navbar .navbar-nav.pull-right {
    width: 100%;
}
#main-navbar .right > .navbar-nav > li {
    border-top: 1px solid #f1f1f1;
}
#main-navbar .navbar-nav > li:before,
#main-navbar .navbar-nav > li:after {
    content: " ";
    display: table;
}
#main-navbar .navbar-nav > li:after {
    clear: both;
}
#main-navbar #main-menu-toggle,
#main-navbar .navbar-toggle {
    background: none;
    border: none;
    display: block;
    font-size: 11px;
    margin: 0;
    outline: none !important;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0 !important;
    z-index: 1033;
}
#main-navbar #main-menu-toggle .navbar-icon,
#main-navbar .navbar-toggle .navbar-icon {
    font-size: 14px;
    line-height: 46px;
}
#main-navbar #main-menu-toggle {
    height: 46px;
    left: 0;
    overflow: hidden;
    width: 56px;
    z-index: 1034;
}
#main-navbar #main-menu-toggle .navbar-icon {
    left: 20px;
    margin: -23px 0 0 0;
    padding: 0;
    position: absolute;
    z-index: 1035;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
#main-navbar #main-menu-toggle .navbar-icon:after {
    content: "\f0da";
    display: block;
    font-size: 10px;
    line-height: 46px;
    position: absolute;
    right: -8px;
    top: 0;
}
#main-navbar #main-menu-toggle .hide-menu-text {
    left: 51px;
    line-height: 46px;
    margin-top: -23px;
    opacity: 0;
    position: absolute;
    z-index: 1035;
}
#main-navbar .navbar-toggle {
    padding: 0 17px;
    right: 0;
}
#main-navbar .navbar-toggle:not(.collapsed) {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#main-navbar .navbar-toggle .navbar-icon {
    display: inline-block;
}
#main-menu-bg {
    left: -80%;
    width: 80%;
}
#main-menu {
    height: auto;
    left: 0;top: 0;
    overflow: visible;
    position: absolute; display: block;
    width: 56px;z-index: 500;
}
#main-menu .navigation {
    padding:5px 0 0 0;
}
#main-menu .navigation ul {
    display: block;
}
#main-menu .navigation li {
    display: block;
    margin-top:1px; 
}
#main-menu .navigation a {
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 11px 14px;
    text-decoration: none;
}
#main-menu .navigation a,#main-menu .navigation a:active,#main-menu .navigation a:focus,#main-menu .navigation a:hover {
    outline: none !important;
}
#main-menu ul.navigation > li > a > .mm-text{vertical-align: top;}
#main-menu .navigation .menu-icon {
    display: inline-block;
    margin-right: 5px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 14px;
}
#main-menu .mm-dropdown {
    position: relative;
}
#main-menu .mm-dropdown > a:before {
    content: "\f105";
    display: block;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 10px;
    height: 10px;
    width: 10px;
    right: 14px;
    top: 17px;
    margin: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
a.menuitem-highlight:before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    color: #ffffff;    
}
#main-menu .mm-dropdown > ul > li > a {
    padding-left: 40px;
}
#main-menu .mm-dropdown > ul > .mm-dropdown > ul > li > a {
    padding-left: 60px;
}
#main-menu .mm-dropdown > ul > .mm-dropdown > ul > .mm-dropdown > ul > li > a {
    padding-left: 80px;
}
#main-menu .mm-dropdown > ul > .mm-dropdown > ul > .mm-dropdown > ul > .mm-dropdown > ul > li > a {
    padding-left: 100px;
}
#main-menu .mm-dropdown > ul > .mm-dropdown > ul > .mm-dropdown > ul > .mm-dropdown > ul > .mm-dropdown > ul > li > a {
    padding-left: 120px;
}
#main-menu .mm-dropdown ul li{
    padding-left: 0;
}
#main-menu .mm-dropdown ul .menu-icon {
    margin-left: -5px;
}
#main-menu .mm-dropdown ul a {
    padding-bottom: 8px;
    padding-top: 8px;
}
#main-navbar .navbar-header {
    padding-left: 56px;
}

#main-menu, #main-menu-bg {
    left: 0;
    overflow: hidden;
    width: 240px;
}

.dropdown-toggle > i{font-size: 18px;}
ul.notification_ul{padding-left:0px;}
ul.notification_ul li{list-style: none;border-bottom:1px solid #dedede !important;line-height:24px;padding:0px 10px;}
ul.notification_ul li:last-child{border-bottom:0px !important;}
.arrow_box {position: relative;background: #ffffff;border: 1px solid #dedede;}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left:85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 15px;
    margin-left: -15px;
}
.arrow_box:before {
    border-color: rgba(222, 222, 222, 0);
    border-bottom-color: #dedede;
    border-width: 16px;
    margin-left: -16px;
}
.no-padding-3{padding-top:0px !important;padding-left:0px !important;padding-right:0px !important;  }
.panel_title{padding:8px 10px; }

.lan{background:url("../../images/icons/lan-0.png")no-repeat top center;background-size:20px 20px;}
.wireless{background:url("../../images/icons/wifi-0.png")no-repeat top center;background-size:20px 20px;}
.qos{background:url("../../images/icons/qos-0.png")no-repeat top center;background-size:20px 20px;}
.internet{background:url("../../images/icons/internet-0.png")no-repeat top center;background-size:20px 20px;}
.firewall{background:url("../../images/icons/firewall-0.png")no-repeat top center;background-size:20px 20px;}
.multicast{background:url("../../images/icons/multicast-0.png")no-repeat top center;background-size:20px 20px;}
.systemconfig{background:url("../../images/icons/syslog-0.png")no-repeat top center;background-size:20px 20px;}
a.menuitem-highlight .lan{background:url("../../images/icons/lan-1.png")no-repeat top center;background-size:20px 20px;}
a.menuitem-highlight .wireless{background:url("../../images/icons/wifi-1.png")no-repeat top center;background-size:20px 20px;}
a.menuitem-highlight .qos{background:url("../../images/icons/qos-1.png")no-repeat top center;background-size:20px 20px;}
a.menuitem-highlight .multicast{background:url("../../images/icons/multicast-1.png")no-repeat top center;background-size:20px 20px;}
a.menuitem-highlight .internet{background:url("../../images/icons/internet-1.png")no-repeat top center;background-size:20px 20px;}
a.menuitem-highlight .firewall{background:url("../../images/icons/firewall-1.png")no-repeat top center;background-size:20px 20px;}
a.menuitem-highlight .systemconfig{background:url("../../images/icons/syslog-1.png")no-repeat top center;background-size:20px 20px;}
.theme-default #main-menu .navigation a:hover .lan{background:url("../../images/icons/lan-1.png")no-repeat top center;background-size:20px 20px;}
.theme-default #main-menu .navigation a:hover .wireless{background:url("../../images/icons/wifi-1.png")no-repeat top center;background-size:20px 20px;}
.theme-default #main-menu .navigation a:hover .qos{background:url("../../images/icons/qos-1.png")no-repeat top center;background-size:20px 20px;}
.theme-default #main-menu .navigation a:hover .multicast{background:url("../../images/icons/multicast-1.png")no-repeat top center;background-size:20px 20px;}
.theme-default #main-menu .navigation a:hover .internet{background:url("../../images/icons/internet-1.png")no-repeat top center;background-size:20px 20px;}
.theme-default #main-menu .navigation a:hover .firewall{background:url("../../images/icons/firewall-1.png")no-repeat top center;background-size:20px 20px;}
.theme-default #main-menu .navigation a:hover .systemconfig{background:url("../../images/icons/syslog-1.png")no-repeat top center;background-size:20px 20px;}
/*End of the Menu styles here*/
.mainmenu{padding-top: 46px;border-bottom:0px;}
.mainmenu > li > a:hover {border-color:transparent !important}
.nav-tabs > li > a{color:#808b9c;}
.mainmenu > li{width:50%;text-align: center;}
.mainmenu > li a{}
/*.mainmenu > li:first-child{background:#000000;border-color:transparent;color:#ffffff;}*/

.nav-tabs > li > a{font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
.nav-tabs > li > a:hover{background:transparent;border-color:transparent;color:#ffffff;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border-color:transparent;}
.nav-tabs{border-bottom:none;}
.lantiq-form-text label{text-align: left !important;}
.table-scroll-vr{max-height: 350px;height:auto;overflow-y: scroll;overflow: auto;}

.show{
    max-height: 1000px;    
}
.hide{
    max-height: 0px;
}
.animation{
    overflow: hidden;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.menuitem-highlight span{color: #ffffff;}
.menuitem-highlight .menu-icon{color: #ffffff;}

.btn-align{display: inline-block;margin-right: 10px;}
.custom_btn{
    display:inline-block;
    margin-bottom: 5px;
}
.custom_event_btn{
	display:inline-block;
	margin-bottom: 5px;
}
.btn-primary,.btn-default{
    margin-bottom: 5px;
}
.padding_11{
    padding: 0 11px !important;
}


/*Content block styles */
.wrapperdiv{}
.wrapperdiv > .panel-body > .form-group {margin-left:0px !important;margin-right:0px !important;  }
.navbar-inverse .navbar-nav > .open > a:focus{background: transparent !important}
/*End Content block styles */


/*Page Start*/
#main-wrapper {width: 100%;}
#content-wrapper {
    transition: all 1s ease 0s;
    left: 0;
    padding: 64px 18px 18px;
    position: relative;
    width: 100%;
}
#content-wrapper .panel-heading.unconfigured{background:#999999;color:#ffffff;}
.accordion .panel-heading{background: none repeat scroll 0 0 #dddddd !important;color: #333333 !important;}

/*Subheader section*/
.subheader{width:auto;height:auto;min-height:90px; margin:-20px -18px 15px;padding:1%;border:1px solid #ddd;-webkit-box-shadow: none;box-shadow: none;background-color:#c6d9f5;}
.subheader h4{ color:#454545;font-family: 'Roboto-Medium' !important;font-style: normal;margin-top:0px; }
.subheader p{ color:#636363;font-family: 'Roboto-Light' !important;font-style: normal;font-weight:500;font-size: 12px;}
.iconDetails {float: left;margin-right: 10px;}
.headersec a > i{font-size:18px;}
.subheader_text{margin-left:80px; }
/*End of the Subheader section*/
/*Footer section*/
.footer {width:100%;height:42px;padding:10px 0px 5px 0px;margin: 0 -18px;position: fixed;bottom:0px;background:#f3f0f6;}
.footer p{margin:0px !important;line-height:30px;  }
.social_icon_group{position: fixed;bottom:5px;right:15px;}
.social_icon_group >a{width:30px;height:30px;line-height:30px;display: inline-block; text-align: center;background:#0071c5 !important;border-radius:2px;color:#ffffff;text-decoration: none; }
/*End of the Footer section*/

.block-heading-two {}
.block-heading-two h3 {
    border-bottom: 1px solid #eee;
    font-family:'Roboto-Medium';font-size: 14px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 10px;
    padding: 0 10px 6px 8px;margin:0px 0px 8px 0px; 
}
.block-heading-two h3 span {
    border-color: #32c8de ! important;
    border-bottom: 3px solid;
    padding-bottom: 11px;
}
.panel-bg1{
    background: #ffffff !important;
    box-shadow:none; 
}
.panel-bg1 .panel-body h4{margin: 0px;}

.input-lg{
    height: 0px;
}

.input-group-btn ul{
    max-height:250px;
    min-height:50px;
    overflow-y:scroll;
    min-width: 450px;
    max-width: 500px;
    margin-right: 13px;
    
}

.input-group-btn ul > li{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background-color: #EFEEEE;
    border-color: #285e8e;
   
}

.dropdown-menu {
      background:#EFEEEE;
     
 }
.dropdown-menu > li > a{
    font: inherit;
    font-size: 14px;
    color: #26a69a;
    padding: 0px 3px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #039be5;
    color:white;
}
.btn-group ul{
    max-height:200px;
    height:220px;
    overflow-y:scroll;
}
/*Theme-2*/
.blu_bg{background:#0071c5;color:#ffffff;}
.btn-info{background:#0071c5 !important;border: medium none;}
.btn{background:transparent; }
.btn .fa-trash-o,.btn .fa-edit,.btn .fa-check,.btn .fa-times,.btn .fa-file-text-o{font-size:18px;color:#0071c5;}
.panel-bg1{background: transparent;border:1px solid #dedede;padding-bottom:8px; }
.panel-bg1 .btn .fa-trash-o,.panel-bg1 .btn .fa-edit, .fa-download, .panel-bg1 .btn .fa-check,.panel-bg1 .btn .fa-times{color:#0071c5;}
.theme_intel >thead tr th {background:#00a489 !important;color:#ffffff;font-family:'Roboto-Medium';font-size: 14px;
                           font-weight: normal;}
#content-wrapper .panel-heading{background:#0071c5;color:#ffffff;font-family:'Roboto-Medium';font-size: 14px;
                                font-weight: normal;padding:5px 15px; }
.switch-text{line-height:10px; }
/*End of the Theme-2*/
.custom_btn{margin-top:10px; }

connectstatus{
    font-family: "Roboto-Medium",sans-serif;
    font-size: 19px;
    font-weight: 300;
    margin: 8px 15px;
}
.pristine.true, .dirty.true, .invalid.true {
    background: gray;
}
.valid.false {
    background: red;
}
.valid.true {
    background: green; 
}
.error {
    color: red; 
}
.html_widget{display:inline-block;width:100%; }
.html_widget canvas{width:100% !important; }
.help_btn{position: absolute;right: -5px;top: 6px;}
.required label {font-weight: bold;}
.required label:after {color: #e32;content: ' * ';display:inline;font-size: 16px;}
.checkbox-listview{display:block; }
.checkbox-listview {margin-bottom:10px;}
.checkbox-listview input[type="checkbox"]{margin:0px 10px 0px 0px;outline: medium none;}
.checkbox-listview label{line-height:15px;}
.checkbox-scroll-vr{max-height:150px;height:auto;overflow-y: scroll;overflow: auto;border:1px solid #dedede;padding:5px;  }
.editableselect{width:20px;z-index:3;background-color:#f6f6f6;text-align:center;}
.editableselect span{text-align:center;margin-left:-4px !important;}
/*Media Queiries */
@media (max-width: 480px){
    .mme{overflow: hidden;width:100%; }
    #main-wrapper {
        overflow: hidden !important;
        width: 100%;
    }
    .mme #main-navbar #main-menu-toggle .hide-menu-text {
        opacity: 1;
        transition: all 1s ease 0s;
    }
    .mme #main-navbar #main-menu-toggle .navbar-icon::after {
        content: "\f0da";
        right: -8px;
    }
    .mme #main-navbar .navbar-header {padding-left:0px; }
    .mme #main-menu, .mme.mmc #main-menu, .mme #main-menu-bg, .mme.mmc #main-menu-bg {
        overflow: visible;
        width: 80%;
    }
    .mme #main-navbar #main-menu-toggle {width: 80%;transition: all 1s ease 0s;}
    #main-navbar #main-menu-toggle {transition: all 1s ease-out 0s;}
    #main-navbar .navbar-header{transition: all 1s ease 0s;}
    .mmc #main-menu, .mmc #main-menu-bg {left: 0;width: 80% !important;transition: all 1s ease 0s;}
    #main-menu-bg {left: -80%;width: 80%;}
    .mme #main-navbar .navbar-inner, .mme #content-wrapper {
        transition: all 1s ease 0s;
        left: 80%;
    }
    /*    Menu-list show*/
    #main-menu,#main-menu-bg {width:auto;}
    #main-menu .navigation {display: none;}
    .mme #main-menu .navigation {display: block;}
    .mme #main-menu, .mme #main-menu-bg {
        height: 100%;
        left: 0;
        overflow-y: scroll;
        transition: width 0.5s ease 0s;
        width: 80%;
    }
    .mme #main-menu .mm-dropdown > a::before {
        display: block;
    }
    .mme #main-menu ul.navigation > .mm-dropdown > a::after, .mnz #main-navbar #main-menu-toggle .hide-menu-text {
        opacity: 1;
        transition: all 1s ease 0s;
    }
    #main-menu .navigation ul{display: none;}
    .mmc #main-menu .navigation ul{display: block;}
    /*#main-menu .navigation, #main-menu .mmc-dropdown-open-ul,
    #main-menu .navigation ul, 
    #main-menu .mmc-dropdown-open-ul ul {
        display: block;
    }*/
    .mme #main-menu-inner .nav > li > a {
        display: block;
    }
    .mme #main-menu ul.navigation > li > a > .mm-text {
        display: block;
        transition: all 1s ease 0s;
    }

}
@media (min-width: 480px) and (max-width: 768px) {

}
@media (min-width: 768px) {    
    body::after, #main-menu::after, #content-wrapper::after, #main-wrapper::after {
        clear: both;
    }
    body::before, #main-menu::before, #content-wrapper::before, #main-wrapper::before, body::after, #main-menu::after, #content-wrapper::after, #main-wrapper::after {
        content: " ";
        display: table;
    }
    .mmc #main-wrapper {
        padding-left: 56px;
    }
    /*    .mme #main-menu, #main-menu, .mme #main-menu-bg, #main-menu-bg {
            overflow: hidden;
            width: 240px;
        }*/
    #main-menu ul.navigation > li {
        width: 240px;
    }
    .mmc #main-menu ul.navigation > li > a > .mm-text {
        display: none;
    }
    .mmc #main-menu .mm-dropdown > a::before {
        right:5px;top:15px;
    }
    .mmc .mainmenu > li{width:100%;text-align: center;float: none;}
    .mmc .mainmenu > li > a > .mm-text {
        display: none;
    }
    .mmc .mainmenu li:nth-child(1) a[data-toggle="tab"]::after {
        font-family: 'FontAwesome';
        content: "\f032";
        color:#ffffff
    }
    .mmc .mainmenu :nth-child(2) a[data-toggle="tab"]::after {
        font-family: 'FontAwesome';
        content: "\f031";
        color:#ffffff
    }
    .mmc .ltq_submenu,.mmc .ltq_submenu ul{
        position:relative; 
    }
    .mmc .ltq_submenu ul {
        background:#454545;
        left: 56px;
        padding-left: 0;
        position: absolute;
        top: 0;
        width: 240px;
        transition: all 0.5s ease 0s;
        display:none; 
    }
    .mmc .ltq_submenu ul li ul {
        background:#454545;
        left:240px;
        padding-left: 0;
        position: absolute;
        top: 0;
        width: 240px;
        transition: all 0.5s ease 0s;
        display:none; 
    }
    /*.mmc #main-menu .navigation ul{display:none; }*/
    .mmc .menuitem-highlight:hover + .ltq_submenu ul{
        background:#454545;
        left: 56px;
        padding-left: 0;
        position: absolute;
        top: 0;
        width: 240px;
        transition: all 0.5s ease 0s;
        display:block; 
    }

}
@media (max-width: 768px) {  
    .mmc #main-menu, .mme.mmc #main-menu, .mmc #main-menu-bg, .mme.mmc #main-menu-bg {
        /*        overflow: visible;*/
        width: 56px;
    }
}
#main-menu,#main-menu-bg {
    width:240px;
}
.mmc #main-menu,.mmc #main-menu-bg {
    width: 56px;
}
.mmc #main-menu, .mme.mmc #main-menu, .mmc #main-menu-bg, .mme.mmc #main-menu-bg {
    overflow: visible;
    width: 56px;
}
#main-menu ul.navigation > li {
    width: auto;
}
@media (min-width: 768px) {
    #main-menu,#main-menu-bg {
        overflow: hidden;
        width: 240px;left:0;
    }
    #main-navbar .navbar-nav.pull-right {
        width:auto;
    }
    #main-menu ul.navigation > li {
        width: 240px;
    }
    .mnz #main-menu ul.navigation > li {
        width:auto;
    }
    #main-menu ul.navigation > li > a {
        text-align: left;
    }
    #main-menu ul.navigation > li > a > .menu-icon {
        margin-right: 5px;
    }
    #main-menu ul.navigation > li > a > .mm-text {
        display: inline;
    }
    #main-menu-inner .nav > li > a {display: block;}    
    #main-menu .menu-content {
        display: block;
    }
    #main-wrapper {
        padding-left: 240px;
    }
    .animate #content-wrapper,
    .animate #main-menu,
    .animate #main-menu-bg,
    .animate #main-menu-toggle, 
    .animate #main-navbar .navbar-inner,
    .animate #main-wrapper{        
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    #main-navbar .navbar-header {
        padding-left: 56px !important;
    }
    #main-navbar .navbar-header {
        width: 240px;
    }
    #main-navbar {
        overflow: visible !important;
    }
    #main-navbar .navbar-header {
        width: auto;
        z-index: 1033; padding-left: 56px !important;
    }
    #main-navbar .navbar-brand {
        padding-right: 14px;
    }
    #main-navbar #main-menu-toggle {
        width: 56px !important;
    }
    #main-navbar #main-menu-toggle .navbar-icon {
        left: 26px;
    }
    #main-navbar #main-menu-toggle .navbar-icon:after {
        content: "\f0d9";
        right: 16px;
    }
    #main-navbar .navbar-toggle {
        display: none !important;
    }
    #main-navbar .hide-menu-text {
        opacity: 0 !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
    #main-navbar .right {
        left: 0;
        padding-right: 16px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1031;
    }
    #main-navbar li {
        border: none;
    }
    #main-navbar li a {
        line-height: 46px;
    }
    #main-navbar .navbar-collapse {
        height: auto !important;
        overflow: visible !important;
        padding: 0 !important;
    }
    /*    #main-navbar .navbar-nav {
            position: relative;
            z-index: 1032;
        }*/
    #main-navbar .navbar-nav {
        margin: 0;
    }
    #main-navbar .navbar-nav > li > a {
        height: 46px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    /*    #main-navbar .navbar-nav.pull-right {
            width: auto;
        }*/
    .mnz .mm-dropdown>.submenu,.mnz .mm-dropdown>.advancesubmenu{display: none}
    .mnz .mm-dropdown>a.basicmenu:before {content:"bar";transform: rotate(0deg);}
    .mnz .mm-dropdown>a.advancemenu:before {content:"bar";transform: rotate(0deg);}
    .mnz .mainmenu > li{width:100%;text-align: center;float: none;}
    .mnz .mainmenu > li > a > .mm-text {
        display: none;
    }
    .mnz .mainmenu li:nth-child(1) a[data-toggle="tab"]::after {
        font-family: 'FontAwesome';
        content: "\f032";
        color:#ffffff
    }
    .mnz .mainmenu :nth-child(2) a[data-toggle="tab"]::after {
        font-family: 'FontAwesome';
        content: "\f031";
        color:#ffffff
    }
}
#main-menu-bg {
    display: block;
    height: 100%;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width:240px;
    z-index: 499;
}
.mmc #main-menu ul.navigation > li{width:56px;}
.connectstatus {
    font-family: "Roboto-Medium",sans-serif;
    font-size: 19px;
    font-weight: 300;
    margin: 8px 15px;
}